* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(73, 82, 82);
  font-family: "Ubuntu", sans-serif;
  color: white;
}

header {
  height: 10vh;
  background-color: rgb(87, 238, 17);
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
header > nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
}
header > nav > h1 {
  width: 30%;
}
header > nav > ul {
  list-style: none;
  width: 70%;
  display: flex;
  justify-content: space-around;
}
header > nav > ul > li {
  position: relative;
}
header > nav > ul > li > a:hover {
  cursor: pointer;
  color: rgb(100, 98, 98);
}
.popover {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(192, 187, 187);
  border-radius: 10px;
  color: black;
  padding: 1em;
  width: 280px;
  z-index: 10;
  transition: 500ms;
  transform: translate3d(-45%, 30%, 0);
}
header nav ul li:hover .popover {
  visibility: visible;
  opacity: 1;
  transform: translate3d(-45%, 10%, 0);
}

.main {
  background-color: rgb(217, 230, 230);
  padding: 3em;
  display: flex;
  align-items: center;
  height: 90vh;
}
.main > div {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1em;
  align-items: center;
  justify-content: space-around;
}

.images-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.images-div > div {
  max-width: 100%;
  max-height: 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mid {
  border: 1px solid rgb(11, 235, 11);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: column;
}
.mid > div:first-of-type {
  width: 100%;
  color: white;
  padding: 1em;
  background-color: rgb(11, 235, 11);
  text-align: center;
}
.adding {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  background-color: rgb(11, 235, 11);
}
.adding > input {
  font-size: 20px;
  padding: 1em;
  border: none;
  border-radius: 10px;
  outline: none;
}
.adding > div {
  display: flex;
  justify-content: space-around;
}
.adding > div > button {
  height: 100%;
}
.listDiv {
  height: 80%;
  width: 100%;
  overflow: auto;
}
.list {
  width: 100%;
  height: 100%;
  padding: 1em;
  position: relative;
  display: inline-block;
}
.drag-menu {
  z-index: 30;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(102, 106, 107, 0.699);
  display: none;
}
li {
  list-style: none;
}
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 20px;
  width: 20px;
  z-index: 1;
}
input[type="checkbox"]:hover ~ .checkbox {
  background-color: rgb(117, 113, 113);
}
input[type="checkbox"]:checked ~ .checkbox {
  background-color: rgb(71, 204, 31);
}
input[type="checkbox"]:checked ~ .itemName {
  text-decoration: line-through;
  color: black;
}
.checkbox:after {
  content: "";
  position: absolute;
  display: none;
  transform: translateX(20px);
}

input[type="checkbox"]:checked ~ .checkbox:after {
  display: block;
}

.checkbox:after {
  width: 5px;
  height: 10px;
  left: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkbox {
  height: 20px;
  width: 20px;
  border: none;
  background-color: rgb(173, 143, 143);
}
.itemDiv > input {
  background-color: rgb(36, 146, 209);
  height: 20px;
}
button {
  padding: 10px 15px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: border;
  font-size: 20px;
}
button:hover {
  opacity: 0.8;
}
.button-options {
  background-color: rgb(6, 159, 230);
}
.button-add {
  background-color: rgb(9, 156, 9);
}
.option-button {
  background-color: rgb(11, 33, 235);
}
.delete-button {
  background-color: rgb(253, 8, 8);
}

.itemDiv {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  background-color: rgb(174, 209, 209);
  border: 2px solid rgb(172, 165, 165);
  border-radius: 10px;
}
.itemName {
  width: 70%;
}

.fa-times,
.fa-ellipsis-v {
  pointer-events: none;
}

/* modal */
.modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(32, 31, 31, 0.452);
}
.modal-active {
  display: flex;
}
.modal-close {
  display: none;
}
.modal {
  border: 2px solid red;
  padding: 1em;
  width: 700px;
  height: 400px;
  background-color: white;
  color: grey;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}
.options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.options > form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1em;
  width: 100%;
}
.options > form > div > input {
  font-size: 20px;
  border: none;
  outline: none;
  border-bottom: 2px solid grey;
}
.options > form > div {
  position: relative;
}
.options > form > div > h3 {
  position: absolute;
  top: 0;
}
.description {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
textarea {
  width: 500px;
  height: 50px;
}
.modal-btn {
  color: black;
}

@media screen and (max-width: 768px) {
  header {
    display: none;
  }
  .main {
    padding: 0;
  }
  .images-div {
    display: none;
  }
  .adding > input {
    font-size: 15px;
    padding: 0.5em;
  }
}
